/*
fix over flow
*/

body {
    /* background-color: rgb(134, 146, 148); */
    background: #0c53bb;
    margin: 0;
    width: 100%;
}
.sign-up-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    height: 500px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.697);
    border-radius: 25px;

}


/* block puts labels on top of input boxes */
label {
    display: block ;
}
input {
    margin-bottom: 10px;
    padding: 8px 50px 15px 8px;
    border: unset;
    border-radius: 7px;

}
.dml-header {
    color: white;
    text-align: center;
    background-color: #0382c2;
    width: 100%;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 35px;
}
.parent1 {

}
.div-signup, .div-signin {
    display: inline;
    margin-right: 10%;
    margin-left: 10%;
}


.signup-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: unset;
    background-color: #15aefb;
    color: #fff;

}
.signin-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    border: unset;
    background-color: #15aefb;
    color: #fff;
}
.parent2 {
    padding-bottom: 15px;
}
.child1 {
    display: block;
    padding-bottom: 9px;
   
}
.continue-button {
    background-color:#15aefb;
    color:#fff;
    border-style: unset;
    padding: 10px 20px;
    border-radius: 9px;
}
.continue-button:hover, .signup-button:hover, .signin-button:hover {
    cursor: pointer;
    background-color: #00549e;
}
.continue-without-account {
    margin-top: 60px;
}
@media screen and (min-width: 750px) {
    .dml-header {
        max-width: 100%;
    }
    
}