body {
    background-color: grey;
}
.sign-up-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-style: solid;
    width: 550px;
    height: 170px;
    padding-bottom: 40px;
    background-color: rgb(233, 233, 233);

}

h5 {

}

.lastname-div {
    /* display: inline; */
}

/* block puts labels on top of input boxes */
label {
    display: block ;
}
input {

}
.parent {
    
}
.child1 {
    display: inline-block;
    padding-bottom: 9px;
   
}
.child2 {
    display: inline-block;
    padding-bottom: 9px;
}